<p id="notice"><%= notice %></p>



<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "banner_chart"
      },
      title: {
        text: "Clicks per day"
      },
      xAxis: {  
        type: "datetime",
        labels: {
          formatter: function() {
           return Highcharts.dateFormat("%b %e, %Y", this.value);
          }
        }
      },
      yAxis: {
        title: {
          text: "Number of Clicks"
        }
      },
      tooltip: {
        formatter: function() {
         return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' + 
                Highcharts.numberFormat(this.y, 0) + ' letters';
        }
      },
      series: [{
        name: 'Languages',
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 2.week.ago.to_i * 1000 %>,
        pointEnd: <%= Time.now.to_i * 1000 %>,
        data: <%= (2.week.ago.to_date..Date.today).map {|date| @language.letters.total_on(date)}.inspect %>
        //data: <%= letter_series(@language.letters, 2.week.ago.to_date) %>  
      }]
    });
  });
</script>

<div id="banner_chart" style="width:800px; height:300px;"></div>

<br />


<p>
  <b>Lang code:</b>
  <%= @language.lang_code %>
</p>

<p>
  <b>Lang name:</b>
  <%= @language.lang_name %>
</p>

<p>
  <b>Short code:</b>
  <%= @language.short_code %>
</p>

<p>
  <b>I18n identifier:</b>
  <%= @language.i18n_identifier %>
</p>

<p>
  <b>Custom css:</b>
  <%= @language.custom_css %>
</p>

<p>
  <b>Active:</b>
  <%= @language.active %>
</p>

<p>
  <b>In menus:</b>
  <%= @language.in_menus %>
</p>

<p>
  <b>Default domain:</b>
  <%= @language.default_domain_id %>
</p>

<p>
  <b>Root slug:</b>
  <%= @language.root_slug %>
</p>


<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
