<h1>Listing letter_campaigns</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @letter_campaigns.each do |letter_campaign| %>
  <tr>
    <td><%= letter_campaign.name %></td>
    <td><%= letter_campaign.slug %></td>
    <td><%= link_to 'Show', letter_campaign %></td>
    <td><%= link_to 'Edit', edit_letter_campaign_path(letter_campaign) %></td>
    <td><%= link_to 'Destroy', letter_campaign, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Letter campaign', new_letter_campaign_path %>
